@import "../../../theme.scss";
mat-card {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  background: #393e46;
  border-radius: 2rem;

  mat-card-header {
    justify-content: center;
    mat-card-title {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1px;
      color: $light-accent-A200;
    }
  }

  mat-card-content {
    display: grid;
    justify-content: flex-start;
    margin-top: 1rem;

    mat-form-field {
      width: 200%;
    }
  }

  mat-card-actions {
    justify-content: center;
    gap: 1rem;

    button {
     transform: scaleY(1.1); 
    }

  }
}
