<mat-card>
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="passwordForm" class="profile-ctn">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="currentpassword" placeholder="Enter your current password" />
      <mat-error
        *ngIf="
          passwordForm.controls.currentpassword.touched &&
          passwordForm.controls.currentpassword.invalid
        "
      >
        <span *ngIf="passwordForm.controls.currentpassword.errors.required"
          >This field is mandatory.</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newpassword" placeholder="Enter new password" />
      <mat-error
        *ngIf="
          passwordForm.controls.newpassword.touched &&
          passwordForm.controls.newpassword.invalid
        "
      >
        <span *ngIf="passwordForm.controls.newpassword.errors.required"
          >This field is mandatory.</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmpassword" placeholder="Confirm new password" />
      <mat-error
        *ngIf="
          passwordForm.controls.confirmpassword.touched &&
          passwordForm.controls.confirmpassword.invalid
        "
      >
        <span *ngIf="passwordForm.controls.confirmpassword.errors.required"
          >This field is mandatory.</span
        >
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-raised-button
      color="accent"
      (click)="changePassword()"
      [disabled]="!(passwordForm.valid && passwordForm.dirty)"
    >
      Change
    </button>
    <button
      mat-stroked-button
      color="accent"
      routerLink="/profile"
      (click)="goBack()"
    >
      Back
    </button>
  </mat-card-actions>
</mat-card>
