:host {
  display: block;
  margin: 3rem auto 0;
  width: 80%;
}

table {
  width: 100%;
  border: 1px solid rgba(255,255,255,0.1);
  margin-top: 10px;

  .mat-cell,
  .mat-header-cell {
    font-size: 1.1rem;
  }

}
