.mat-h6,.mat-headline,.mat-typography h6 {
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
  }

  .mat-toolbar {
    // background-color: darkmagenta;
    // margin: 24px;
    width: 100%;
    // margin-bottom: 10px;
    height: 5px;
    width: auto;
    color: #ffff;
  }
