:host {
  display: block;
  padding: 2rem 3rem;
}

.category-action {
  display: flex;
  justify-content: space-between;

  mat-card {
    width: max-content;
    margin-bottom: 1rem;
    mat-card-content {
      font-size: 1rem;
    }
  }
}
