:host {
    display: block;
    margin: 1rem auto 0;
    width: 90%;
}

table {
  width: 100%;


  .action-class {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .mat-mdc-header-cell {
    font-size: 1rem;
  }
}
